# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Log files
*.log
